body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: rgb(252, 252, 252);
  border: 1px solid blue;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  border: 1px solid blue;
}

.main-logo-container{
  width: 30vw;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-name-containers{
  display: flex;
  flex-direction: row;
  gap: 40px;
  border: 1px solid blue;
}

.portrait-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid blue;
  height: auto;
  width: auto;
}

.portraits{
  height: 100px;
  width: 100px;
  border: 1px solid blue;
}

.scores-holder{
  height: auto;
  width: 200px;
}

.midcontent-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  padding: 0 10%;
  border: 1px solid blue;
  gap: 50px;
}

#message-box{
  display: flex;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  border: 1px solid red;
  width: 50%;
  justify-content: center;
}

input[type="text"]{
  box-sizing: border-box;
  width: 300px;
  height: 30px;
}

input[type='submit']{
  color: white;
  background-color: rgb(58, 56, 56);
  width: 80px;
  border-radius: 5px;
}

.choice-box {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 1px solid blue;
}

.player-options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border: 1px solid blue;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 1px solid blue;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aqua;
  font-weight: 400;
}

h3 {
  color: goldenrod;
  font-size: 50px;
  font-weight: bolder;
}

.welcome-container p{
  font-size: 25px;
}

.start-button {
  width: 100px;
  height: 50px;
  border-color: lightpink;
}

.top, .bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}